<?xml version="1.0" encoding="utf-8"?>
<!--
    phpunit -c phpunit.xml
-->
<phpunit 
    bootstrap="vendor/autoload.php" 
    executionOrder="depends,defects" 
    beStrictAboutOutputDuringTests="true" 
    failOnDeprecation="true"
    failOnRisky="true" 
    failOnWarning="true" 
    colors="true" 
    testdox="false"
    cacheDirectory=".phpunit.cache" 
    displayDetailsOnTestsThatTriggerDeprecations="true"
    beStrictAboutCoverageMetadata="true">

    <testsuites>
        <testsuite name="Tests">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

</phpunit>
